<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://kit.fontawesome.com/7a5b1f1af0.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;4 round-border00;700&display=swap"
        rel="stylesheet">
</head>

<body>

    <main id="app">
        <div class="row main-content">
            <!-- side bar-->
            <div class="side-bar bg-white">
                <div class="column">
                    <!-- user profile -->
                    <div class="row bg-lightgray my-profile-preview">
                        <div class=" profile-photo">
                            <img src="./img/avatar_io.jpg" alt="">
                        </div>
                        <div>
                            <i class="big-icon fa-solid fa-circle-notch"></i>
                            <i class="big-icon fa-solid fa-message"></i>
                            <i class="big-icon fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                    <!-- user profile end-->

                    <!-- receive notification section-->
                    <div class="receive-notification bg-cyan">
                        <div class="row">
                            <div class="ring-slash-icon">
                                <i class="big-icon fa-solid fa-bell-slash cyan"></i>
                            </div>
                            <div class="ring-slash-icon-description">
                                <p class="profile-name">Ricevi notifiche di nuovi messaggi</p>
                                <a class="darkgray" href="#">Attiva notifiche desktop</a>
                            </div>
                        </div>
                    </div>
                    <!-- receive notification section end-->

                    <!-- search profile bar -->
                    <div class="search-bar">
                        <div class="write-text">
                            <input type="text" name="search" placeholder="Cerca o inizia una nuova chat" />
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                    </div>
                    <!-- search profile bar -->

                    <!-- profile preview section  -->
                    <div class="profile-scroll">
                        <div class="profile-preview">
                            <div class="mouse-pointer" v-for="(profile, index) in profiles"
                                @click="selectedProfile(index)">
                                    <ul>
                                        <li class="profile-description">
                                            <img :src="profile.profilePhoto" alt="">
                                            <div>
                                                <p class="profile-name">{{profile.name}}</p>
                                                <p class="last-access">{{profile.messages[profile.messages.length -
                                                    1].message.slice(0,30)}} ...</p>
                                            </div>
                                            <span class="message-arrive-hour">{{profile.lastSeen}}</span>

                                        </li>
                                    </ul>
                            </div>
                        </div>
                    </div>
                    <!-- profile preview section end -->
                </div>
            </div>
            <!-- side bar end  -->

            <div class="chat-section">
                <!-- name profile choosed -->
                <div class="chat-header">
                    <div class="row">
                        <div class="row flex-grow">
                            <div>
                                <img :src="profiles[currentIndex].profilePhoto" alt="">
                            </div>
                            <div>
                                <p class="profile-name">{{profiles[currentIndex].name }}</p>
                                <p class="last-access">Ultimo accesso oggi alle {{profiles[currentIndex].lastSeen}}</p>
                            </div>
                        </div>
                        <div class="icon-header">
                            <i class="big-icon fa-solid fa-magnifying-glass"></i>
                            <i class="big-icon fa-solid fa-paperclip"></i>
                            <i class="big-icon fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                </div>
                <!-- name profile choosed end-->
                <!-- chat message sent and arrived section  -->
                <div class="message-section profile-scroll">
                    <div class="message-chat">
                        <ul class="chat">
                            <li v-for="currentMessage in profiles[currentIndex].messages" :class="currentMessage.status"
                                class="row space-between last-access">
                                {{ currentMessage.message }}
                                <span class="hour-text lightgray column">
                                    <i class="fa-solid fa-chevron-down lightgray mouse-pointer" @click="dropDownMenu(currentMessage)"></i>
                                    {{ currentMessage.date.slice(11,16) }}
                                </span>
                            </li>
                            <div v-if="showDropdown" class="dropdown-menu mouse-pointer">
                                <ul>
                                    <li @click="deleteMessage(selectedMessage)" class="mouse-pointer">Delete message</li>
                                </ul>
                            </div>
                        </ul>
                    </div>
                </div>
                <!-- chat message sent and arrived section  end-->
                <!-- Write message to send section -->
                <div class="write-message-section">
                    <div class="row">
                        <div class="icon-write-message-section">
                            <i class="big-icon fa-regular fa-face-smile"></i>
                        </div>
                        <div class="write-message-bar">
                            <div class="write-text">
                                <input @keydown.enter="addMessage" v-model.trim="newMessage" type="text" placeholder="Scrivi un messaggio" />
                            </div>
                        </div>
                        <div class="icon-write-message-section">
                            <i class="big-icon fa-solid fa-microphone"></i>
                        </div>
                    </div>
                </div>
                <!-- Write message to send section end-->
            </div>
        </div>
    </main>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/app.js"></script>




</body>

</html>